/* MyPage.css */

.my-page-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-page-header {
  text-align: center;
  color: #4B89DC;
  margin-bottom: 30px;
}

.my-page-info {
  font-size: 20px;
  margin-bottom: 30px;
}

.my-page-info table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
 
}

.my-page-info table,
.my-page-info th,
.my-page-info td {
  border: none; 
  
}

.my-page-info th,
.my-page-info td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
}

.my-page-info th {
  background-color: #f2f2f2;
}

.my-page-info td:first-child {
  background-color: #f9f9f9;
}

.my-page-info td a {
  text-decoration: none;
  color: inherit;
}

.my-page-info td a:hover {
  text-decoration: underline;
  color: #0056b3; 
}

.my-page-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.my-page-buttons button {
  padding: 12px;
  background-color: #4B89DC;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.my-page-buttons button:hover {
  background-color: #366BB5;
}

.my-page-modal-content {
  width: 380px;
  height: 150px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;
}

.my-page-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.my-page-modal-buttons button {
  padding: 12px;
  background-color: #4B89DC;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.my-page-modal-buttons button:hover {
  background-color: #366BB5;
}