/* MyPage.css */

.my-page-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .my-page-header {
    text-align: center;
    color: #4B89DC;
    margin-bottom: 20px;
  }
  
  .my-page-info {
    margin-bottom: 20px;
  }
  
  .my-page-info p {
    margin: 5px 0;
  }
  
  .my-page-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .my-page-buttons button {
    padding: 12px; /* 버튼 크기 키우기 */
    background-color: #4B89DC;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px; /* 글씨 크기 줄이기 */
  }
  
  .my-page-buttons button:hover {
    background-color: #366BB5;
  }
  
  /* Modal Styles */
  .my-page-modal-content {
    width: 380px;
    height: 150px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px; 
    font-size: 15px;
  }
  
  .my-page-modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .my-page-modal-buttons button {
    padding: 12px; /* 버튼 크기 키우기 */
    background-color: #4B89DC;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px; /* 글씨 크기 줄이기 */
  }
  
  .my-page-modal-buttons button:hover {
    background-color: #366BB5;
  }
  