/* SignupPage.css */

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h1 {
    text-align: center;
    color: #4B89DC;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .signup-form label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .signup-form input:not(.gender) {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
.signup-form .gender:not(:first-child) {
  margin-left: 30px;
}
  
  .signup-form button {
    padding: 12px;
    background-color: #4B89DC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-form button:hover {
    background-color: #366BB5;
  }
  