@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {     
  font-family: 'Gowun Dodum', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  background-color: #4B89DC;
  color: #1a1a1a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  color: #fff;
}

header h1 a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}

header nav a {
  margin: 0;
  color: #fff;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #1a1a1a;
  margin-right: 40px;
  font-size: 18px;
}

nav a {
  color: #1a1a1a;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.footer {
  clear: both;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #1a1a1a;
}

/* 검색창 및 버튼 스타일 */
.search-box {
  display: flex;
  align-items: center;
  width: 700px; /* 가로 길이 조절 */
}

.search-box input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box button {
  margin-left: 10px;
  padding: 10px;
  background-color: #4B89DC;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #366BB5;
}

.main-container {
  display: flex;
}

.left-container {
  width: 70%;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}

.right-container {
  width: 30%;
  float: left;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f2f2f2;
}

.headline-container h1 {
  margin-bottom: 10px;
}

.headline-container ul {
  list-style: none;
  padding: 0;
}

.headline-container ul li {
  margin-bottom: 10px;
}

.interest-container {
  background-color: #F0F8FF;
  padding: 20px;
}

.interest-container h2 {
  margin-bottom: 10px;
}

.interest-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.interest-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.interest-container ul {
  list-style: none;
  padding: 0;
}

.interest-container ul li {
  margin-bottom: 10px;
}

.today-container h2 {
 
  text-align:  center;
}

.today-container p {
  margin: 10px 1px;
  text-align:  center;
}
